@font-face {
    font-family: bangla;
    src: url(../fonts/Ruposhi_Bangla.ttf);
}
@font-face {
    font-family: banglabold;
    src: url(../fonts/Ruposhi_Bangla_Bold.ttf);
}

.card-size {
    width: 155px;
    height: 245px;
    border: 1px solid #232860;
}
.card-body-area {
    gap: 15px;
}
.card-front-page-content {
    padding-top: 10px;
    position: relative;
}
.card-front-page-content .bangladesh-logo img {
    width: 49px;
    height: 49px;
    object-fit: cover;
}
.bangladesh-logo{
    text-align: center;
}
.card-forn-main-title {
    text-align: center;
    margin-top: 6px;
}

.card-forn-main-title h4 {
    font-size: 12px;
    font-family: banglabold;
    margin-bottom: 2px;
    color: #1A223D;
}
h4.food-ministry-name {
    color: #DF2127;
}
.card-forn-main-title h3 {
    font-family: 'banglabold';
    font-size: 14px;
    margin-bottom: 1px;
}
.card-forn-main-title p {
    font-size: 9px;
    margin: 0;
    line-height: 1;
    font-family: 'banglabold';
}
.card-front-footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 2px;
    gap: 2px;
}

img.author-image {
    width: 80px;
    height: 80px;
}

.sub-director p {
    font-size: 9px;
    margin: 0;
    line-height: 1.3;
    text-align: center;
    font-family: 'banglabold';
}
ul.instructions li {
    font-size: 9px;
    font-family: 'banglabold';
    line-height: 1.3;
    margin-bottom: 1px;
}

.card-instruction-title {
    text-align: center;
    margin-top: 5px;
}

.card-instruction-title h4 {
    margin: 0;
    font-size: 11px;
    padding: 8px 6px 7px;
    border: 1px solid #000;
    display: inline-block;
    line-height: 0;
    margin-bottom: 2px;
    border-radius: 15px;
    font-family: 'banglabold';
}

.card-back-page-content {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
}
ul.instructions {
    margin: 0;
}

.card-instruction {
    font-size: 9px;
    font-family: 'banglabold';
    padding-bottom: 3px;
}

.card-instruction p {
    margin: 0;
    line-height: 1;
    font-size: 9px;
    margin-left: 15px;
    margin-top: 3px;
}

.card-instruction span {
    display: block;
    margin-left: 15px;
    line-height: 1;
    margin-top: 1px;
    font-family: 'banglabold';
}
.card-author-info {
    font-family: 'banglabold';
    font-size: 9px;
    padding-left: 15px;
    border-top: 2px solid;
    padding-top: 5px;
}

.card-author-info p {
    margin: 0;
    line-height: 1.1;
    font-family: 'banglabold';
    font-size: 9px;
    display: flex;
    justify-content: flex-start;
}

.card-author-info p span {
    width: 43px;
    font-weight: bold!important;
}
.card-footer-area {
    background: #232860;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 3px 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-content img {
    width: 14px;
}

.footer-content p {
    font-size: 9px;
    font-family: 'banglabold';
    margin: 0;
    color: #fff;
    line-height: 0;
    margin-left: 5px;
}
.card-front-bar {
    background: #232860;
    height: 10px;
}
.author-context {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    flex-flow: column;
    align-items: flex-end;
    margin-top: 10px;
}

.author-context p {
    font-size: 9px;
    font-family: 'banglabold';
    margin: 0;
    line-height: 1;
    padding-right: 15px;
}
img.signature-image {
    width: 32px;
    object-fit: contain;
}

.sub-director {
    text-align: center;
}
img.signature-image {
    width: 32px;
    object-fit: contain;
}

.sub-director {
    text-align: center;
}

.author-context img {
    margin-right: 20px;
    margin-bottom: 4px;
    padding-bottom: 1px;
    border-bottom: 1px solid #000;
}
img.qr-code {
    width: 38px;
    object-fit: contain;
    height: 38px;
    position: absolute;
    left: 15px;
    bottom: 7px;
    background: #fff;
    padding: 1px;
}

/*second card css*/
.second-card-front .card-forn-main-title {
    margin: 0;
}

.second-card-front h4 {
    margin: 0;
}

.second-card-front img.author-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 3px;
    background: #fff;
    object-fit: contain;
}

.second-card-front h3, .second-card-front p {
    color: #fff;
    text-align: center;
    line-height: 1;
}

.second-card-footer .card-front-footer {
    justify-content: center;
    width: 100%;
    display: block;
}

.second-card-front
.card-front-footer {
    display: block;
}

.second-card-front .card-front-footer img {
    background: #fff;
    padding: 1px;
    width: 39px;
    margin-bottom: 3px;
    object-fit: contain;
    margin-top: 2px;
}

.second-card-front h3 {
    font-size: 12px;
}

.second-card-back img.signature-image {
    width: 39px;
}

.second-card-back .card-footer-area {
    background: #1658A8;
}

.second-card-back, .second-card-front, .second-card-back .card-author-info {
    border-color: #1658A8;
}

/* Front Page CSS*/

.front-page-area-start {
    background: #C3F0D1;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front-page-content-area {
    width: 50%;
    background: #fff;
    min-height: 80vh;
}

.front-page-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #008000;
    padding: 20px 20px;
    border-top: 20px solid #00ab35;
}

.front-page-content-header img {
    width: 91px;
    background: #fff;
    border-radius: 50%;
    padding: 4px;
}

.front-page-header-content {
    text-align: center;
    color: #fff;
}

.front-page-header-content a {
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    font-family: sans-serif;
    text-decoration: underline;
}

.front-page-header-content h5 {
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 300;
}

.front-page-header-content h4 {
    font-size: 21px;
    font-family: sans-serif;
    margin: 1px 1px;
}
.fornt-page-body {
    width: 100%;
    font-family: sans-serif;
    display: flex;
    justify-content: space-around;
}
fieldset {
    border: 1px solid #dbe7db;
    padding: 0 15px;
}

fieldset legend mark {
    padding: 5px 15px;
    text-transform: capitalize;
    font-size: 13px;
    background: yellow;
}
.front-body-form {
    padding: 15px;
}

.front-body-form dl {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.front-body-form dl dt {
    width: 120px;
    font-size: 12px;
    font-weight: 500;
}

.front-body-form  dl dd {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}

.front-body-form  dl dd span {
    margin-right: 15px;
    font-weight: 600;
}

.front-body-form  dl dd input, .front-body-form  dl dd select {
    padding: 7px;
    width: 250px;
    border: 1px solid #CAD6E3;
    border-radius: 4px;
    background: #EAF4FF;
    font-size: 12px;
    line-height: initial;
}

.front-body-form  dl dd select {
    width: 266px;
}

.front-body-form  dl dd button {
    margin-left: 5px;
    padding: 7px 11px;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;
}

.front-body-form  dl dd button#submit-btn{
    background: #28a745;
    color: #fff;
    border-color: #28a745;
}

.front-body-form  dl dd button#reset-btn{
    background: #dc3545;
    color: #fff;
    border-color: #dc3545;
}

.front-body-form  dl dd button#preview-btn{
    background: #17a2b8;
    color: #fff;
    border-color: #17a2b8;
}

.front-body-form  dl dd button#submit-btn:hover{
    background: #218838;
    border-color: #1e7e34;
}

.front-body-form  dl dd button#reset-btn:hover{
    background: #c82333;
    border-color: #bd2130;
}

.front-body-form  dl dd button#preview-btn:hover{
    background: #138496;
    border-color: #117a8b;
}

.front-body-form  dl:last-child{
    margin: 0;
}

.card-information-area, .fornt-page-body form {
    padding: 25px 17px;
    width: 47%;
}

.card-info-body-area ul {
    padding: 0;
    margin-left: 18px;
    margin-top: 15px;
    list-style: bengali;
}

.card-info-body-area ul li {
    margin-bottom: 10px;
    font-size: 12px;
}

.card-information-area fieldset.info {
    background: #ffedef;
}

fieldset.help-area {
    margin-top: 23px;
}

fieldset.help-area a {
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    background: #00AB35;
    color: #fff;
    width: 43%;
    padding: 13px;
    text-align: center;
}

.front-page-footer-area {
    text-align: center;
    font-size: 12px;
    color: #fff;
    background: #008000;
    padding: 15px;
}

.front-body-form dl dt label {
    margin: 0;
}

legend {
    width: auto;
}
.front-page-footer-area p {
    margin: 0;
}


/* Preview page css*/
.preview-modal-area {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-modal-area:after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #000;
    opacity: 0.7;
    z-index: -1;
}

.preview-header-content {
    background: #fff;
    width: 460px;
}

.preview-header-content h4 {
    font-size: 14px;
    padding: 14px;
    background: green;
    color: #fff;
    text-align: center;
}

.preview-header-content dl {
    margin-bottom: 6px;
}

.preview-header-content dl dd img {
    width: 100px;
    height: auto;
    border: 1px solid #ddd;
    padding: 4px;
    border-radius: 4px;
}
button{
    outline: none;
}
button#preview-close-btn {
    padding: 5px 13px;
    margin-top: 15px;
    background: red;
    color: #fff;
    border: 1px solid red;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 12px;
    outline: none;
}
.front-body-form dl dd span:last-child {
    font-weight: 400;
    font-size: 12px;
}
.inportant-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 15px;
    margin-top: 14px;
}

.phone-input-field {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.phone-input-field span {
    margin: 0;
    font-weight: 300!important;
    font-size: 12px;
    background: #EAF4FF;
    padding: 5px 8px;
    margin-right: 0!important;
    border: 1px solid #CAD6E3;
}

.phone-input-field input {
    width: 208px!important;
    border-radius: 0 3px 3px 0!important;
    border-left: 0!important;
}
